body{
    background-color: #3a3a3a;
}

.bg-color{
    background-color: #eda51f;
    font-size: 1.2em;
    font-weight: bold;
}

.dropdown-menu{
    background-color: #ffad3e;
}


.dropdown-item:hover{
    background-color: #6c3600;
    color: #fff;
}

.heading{
    background-color: darkcyan;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 4px black;
}
.heading>h1{
    font-size: 6em;
    font-family: 'Bangers', cursive;
}

#secondary{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.carousel-indicators {
    z-index: 1;
}

#footer{
    background-color: #eda51f;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
}
#footer ul{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
}
#footer li{
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  #footer li{
    display: block;
    margin-right: 0px;
  }
  #footer{
      position: static;
  }
  .heading{
    font-size: 1.1em;
  }
  .heading>h1{
      font-size: 5em;
  }

}